<head>
    <title> User Info </title>
</head>
<body>
    <h1> Personal Information </h1>
    
    <form method = "POST">
        Name:   <input type="text" name ="name" value="{{ user.name }}"><br>
        
        Age:    <input type="text" name ="age" value="{{ user.age }}"><br>
        
        Gender: <select value="{{ user.gender }}" name="gender">
                    <option name=" ">{{user.gender}} </option>
                    <option name="P" value="P"> Prefer Not To Specify </option>
                    <option name="F" value="F"> Female </option>
                    <option name="M" value="M"> Male </option>
                    <option name="O" value="O"> Other </option>
                </select>
        <br>
        Height: <input type="text" name ="height" value="{{ user.height }}"><br>
        
        Weight: <input type="text" name ="weight" value="{{ user.weight }}"><br>
        
        <button onclick="confirmChanges()" href = "./editUserInfo?user={{ user.name }}">
            Done
        </button>
        
    </form>
    
    <a href = "/home">
        <button>
            Home
        </button>
    </a>
    <br>
    <a href = "/userInfo">
        <button>
            Profile
        </button>
    </a>
</body>

<script>
    function confirmChanged() {
        if (!confirm("Confirm Changes!")) {
            event.preventDefault();
        } 
    }
</script>