<head>
    <title> User Info </title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    <style>
        .inputs{
            width: 100px;
            height: 40px;
			padding: 5px;
			margin: 5px;
        }
    </style>
    
        
</head>
<body>
    
    
    <div class="jumbotron text-center">
        <h1> Profile {{userInfo.username}} </h1>
        <text>This is the profile page</text>
    </div>
    <div class = "container">
        <div>
        Age: {{userInfo.age}}
        </div>
        <br>
        <div>
            Height: {{userInfo.height}}
        </div>
        <br>
        <div>
            Weight: {{userInfo.weight}}
        </div>
        <br>
        <div>
            Gender: {{userInfo.gender}}
        </div>
        <br>
        <a href = "/home">
            <button class = "inputs btn btn-primary">
                Home
            </button>
        </a>
        <br>
        <a href = "/editUserInfo?user={{userInfo.username}}">
            <button class = "inputs btn btn-primary">
                Edit Profile
            </button>
        </a>
    </div>
    
 
    
    
</body>